<div
  role="radiogroup"
  class="button-group"
  [attr.aria-labelledby]="id"
>
  <label [attr.id]="id" class="label">{{label}}</label>
  <button
    role="radio"
    [attr.aria-checked]="value === options.YES"
    [attr.tabindex]="value === options.YES || value === null ? 0 : -1"
    type="button"
    class="button button-yes"
    [class.button-pressed]="value == options.YES"
    (click)="activate(options.YES)"
  >
  Yes
  </button>
  <button
    role="radio"
    type="button"
    class="button button-no"
    [attr.tabindex]="value === options.NO ? 0 : -1"
    [class.button-pressed]="value == options.NO"
    (click)="activate(options.NO)"
  >
  No
  </button>
</div>
